<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS})|%clr(${LOG_LEVEL_PATTERN:-%5p})|%clr(${springAppName:-}|%X{X-B3-TraceId:-}|%X{X-B3-SpanId:-})|%m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <property name="METRICS_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS})|%clr(${springAppName:-})|%m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <appender name="LOG_CALL_INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data/logs/LOG_CALL_INFO.%d{yyyy-MM-dd}.test.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>utf-8</charset>
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
        </encoder>
    </appender>

    <appender name="LOG_FEIGN_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data/logs/LOG_FEIGN.%d{yyyy-MM-dd}.test.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>utf-8</charset>
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
        </encoder>
    </appender>

    <appender name="LOG_CALL_ERR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data/logs/LOG_CALL_ERR.%d{yyyy-MM-dd}.test.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>utf-8</charset>
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
        </encoder>
    </appender>

    <appender name="METRICS_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data/logs/METRICS.%d{yyyy-MM-dd}.test.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>utf-8</charset>
            <Pattern>${METRICS_LOG_PATTERN}</Pattern>
        </encoder>
    </appender>

    <appender name="LOG_CACHE_MISS_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data/logs/LOG_CACHE_MISS.%d{yyyy-MM-dd}.test.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>utf-8</charset>
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
        </encoder>
    </appender>


	<appender name="LOG_COMM_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data/logs/LOG_COMM.%d{yyyy-MM-dd}.test.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>utf-8</charset>
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
        </encoder>
    </appender>
    
   <appender name="LOG_CACHE_UPDATE_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data/logs/LOG_CACHE_UPDATE.%d{yyyy-MM-dd}.test.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>utf-8</charset>
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
        </encoder>
    </appender>

    <logger name="com.migu.norm" level="info"/>
    <logger name="LOG_CALL_INFO" level="INFO" additivity="false">
        <appender-ref ref="LOG_CALL_INFO_FILE"/>
    </logger>
    <logger name="LOG_CALL_ERR" level="ERROR" additivity="false">
        <appender-ref ref="LOG_CALL_ERR_FILE" />
    </logger>
    <logger name="LOG_FEIGN" level="INFO" additivity="false">
        <appender-ref ref="LOG_FEIGN_FILE"/>
    </logger>
    <logger name="LOG_CACHE_MISS" level="INFO" additivity="false">
        <appender-ref ref="LOG_CACHE_MISS_FILE"/>
    </logger>
    <logger name="metrics" level="INFO" additivity="false">
        <appender-ref ref="METRICS_FILE"/>
    </logger>
    <logger name="LOG_COMM" level="INFO" additivity="false">
        <appender-ref ref="LOG_COMM_FILE"/>
    </logger>
    <logger name="LOG_CACHE_UPDATE" level="INFO" additivity="false">
        <appender-ref ref="LOG_CACHE_UPDATE_FILE"/>
    </logger>
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
